<!DOCTYPE html>
<html lang="en">
<head>
  {% include "site-head.html" %}
</head>
<body>
  
  {% include "site-header.html" %}

  <main>
    <div class="gray">
      <table class="meta">
        <tr>
          <td style="padding-right: 8px;">collection:</td>
          <td><a href="{{ relativePathPrefix }}blog/">blog</a></td>
        </tr>
        {% if page.category %}
        <tr>
          <td style="padding-right: 8px;">category:</td>
          <td><a href="{{ relativePathPrefix }}blog/category/{{ page.category | slugify }}/">{{ page.category }}</a></td>
        </tr>
        {% endif %}
        {% if page.tags %}
        <tr>
          <td style="padding-right: 8px;">tags:</td>
          <td>{{ page.tags | join(', ') }}</td>
        </tr>
        {% endif %}
        {% if page.author %}
        <tr>
          <td style="padding-right: 8px;">author:</td>
          <td>{{ page.author }}</td>
        </tr>
        {% endif %}
        <tr>
          <td style="padding-right: 8px;">date:</td>
          <td><time class="gray" datetime="{{ page.date | date('YYYY-MM-DD') }}">{{ page.date | date }}</time></td>
        </tr>
      </table>
      ---
    </div>
    <h1>{{ page.title }}</h1>
    {% block content %} {% endblock %}
  </main>

  {% include "site-footer.html" %}

  <script async type="text/javascript" src="{{ relativePathPrefix }}dist/js/scripts.min.js"></script>
</body>
</html>
