<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title or site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description or site.description }}">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/blog/feed.rss">
  <link rel="stylesheet" href="{{ relativePathPrefix }}dist/styles/style.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
</head>
<body>
  
  {% include "site-header.html" %}

  <main>
    <div class="gray">
      <table>
        <tr>
          <td style="padding-right: 8px;">collection:</td>
          <td><a href="{{ relativePathPrefix }}blog/">blog</a></td>
        </tr>
        {% if page.category %}
        <tr>
          <td style="padding-right: 8px;">category:</td>
          <td>{{ page.category }}</td>
        </tr>
        {% endif %}
        {% if page.tags %}
        <tr>
          <td style="padding-right: 8px;">tags:</td>
          <td>{{ page.tags | join(', ') }}</td>
        </tr>
        {% endif %}
        {% if page.author %}
        <tr>
          <td style="padding-right: 8px;">author:</td>
          <td>{{ page.author }}</td>
        </tr>
        {% endif %}
        <tr>
          <td style="padding-right: 8px;">date:</td>
          <td><time class="gray" datetime="{{ page.date | date('YYYY-MM-DD') }}">{{ page.date | date }}</time></td>
        </tr>
      </table>
      ---
    </div>
    <h1>{{ page.title }}</h1>
    {% block content %} {% endblock %}
  </main>

  {% include "site-footer.html" %}

  {% if livereload_port %}
  <script>document.write('<script src="http://'
    + (location.host || 'localhost').split(':')[0]
    + ':{{livereload_port}}/livereload.js?snipver=1"></'
    + 'script>')</script>
  {% endif %}
  
  <script async type="text/javascript" src="{{ relativePathPrefix }}dist/js/scripts.min.js"></script>
</body>
</html>
