* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body, html {
    padding: 0px;
    margin: 0px;

    background-color: black;

    font-family: monospace;
    font-size: 12pt;
    color: white;
}

body {
    max-width: 600px;
    margin: 0 auto;

    padding-left: 86px;
    padding-right: 86px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

a {
    color: yellowgreen;
}

a:hover {
    color: grey;
}

a pre {
    display: inline-block;
}

p {
    margin-bottom: 12pt;
}

p a {
    text-decoration: underline;
}

.center {
    text-align: center;
}

@media screen and (max-width: 959px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
    color: dodgerblue;
    font-size: inherit;
    margin-bottom: 12px;
}

h1:before {
    content: '# ' / '';
}

h2:before {
    content: '## ' / '';
}

h3:before {
    content: '### ' / '';
}

h4:before {
    content: '#### ' / '';
}

h5:before {
    content: '##### ' / '';
}

h6:before {
    content: '###### ' / '';
}

blockquote {
    color: gray;
    margin-bottom: 12pt;

    &::before {
        content: '> ' / '';
    }
}

hr {
    border: none;
    border-top: 1px dashed gray;
    margin-bottom: 8px;
    margin-top: 8px;
}

strong {
    &::before {
        content: '**' / '';
    }

    &::after {
        content: '**' / '';
    }
}

em {
    color: gray;

    &::before {
        content: '_' / '';
    }

    &::after {
        content: '_' / '';
    }
}

ul {
    list-style: none;
    padding-left: 18px;
    margin-bottom: 12pt;

    li {
        position: relative;
        margin-bottom: 8px;

        &::before {
            content: '-' / '';
            position: absolute;
            left: -18px;
        }
    }
}

.small {
    font-size: 10pt;

    a {
        color: inherit;
    }
}

.gray {
    color: gray;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;

    li::before {
        content: '';
        flex: 1 0 100%;
    }
}

.menu-separator {
   margin-left: 8px;
   margin-right: 8px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.block {
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

