---
layout: default
title: "@stamat"
---
{% include 'stamat-ascii.html' %}
<h1 style="margin-top: 40px;">
Hello
I'm Stamat!
</h1>
<div>
    <p>My full name is <strong>Nikola Stamatovic</strong>.</p>
    <p>I am a <strong>Senior Software Engineer</strong> and a <strong>Psychology Enthusiast</strong>, for most.</p>
</div>
<p>But unlike the most of the people I don't identify with labels - therefore I am free.</p>


<div class="padded-text">
    <a href="about.html" class="btn">More</a>
</div>
<br />
<br />
<section>
    <h2>Recent Blog Posts</h2>
    <ul>
        {% set showYear = true %}
        {% for post in blog.items.slice(0, 3) %}
            {% include "post-preview.html" %}
        {% endfor %}
    </ul>
    <div class="padded-text">
        <a href="{{ relativePathPrefix }}blog" class="btn">All posts</a>
    </div>
</section>
<section>
    <h2>Featured Projects</h2>
    <ul>
        {% for project in projects | selectattr('featured') | sort(reverse=true, attribute='year') %}
            {% include "project-preview.html" %}
        {% endfor %}
    </ul>
    <div class="padded-text">
        <a href="{{ relativePathPrefix }}projects.html" class="btn">All projects</a>
    </div>
</section>
