---
layout: default
---
{% include 'stamat-ascii.html' %}
<h1 style="margin-top: 40px;">
Hello
I'm Stamat!
</h1>
<div>
    <p>My full name is <strong>Nikola Stamatovic</strong>.</p>
    <p>I am a <strong>Senior Software Engineer</strong> and a <strong>Psychology Enthusiast</strong>, for most.</p>
</div>
<p>But unlike the most of the people I don't identify with labels - therefore I am free.</p>


<div class="padded-text">
    <a href="about.html" class="btn">
        <span class="btn-inner">More</span>
    </a>
</div>
<br />
<br />
<section>
    <h2>Recent Blog Posts</h2>
    <div style="gap: 16px; flex-wrap: wrap;">
        {% set posts = blog.items.slice(0, 3) %}
        {% for post in posts %}
            {% include "post-preview.html" %}
        {% endfor %}
    </div>
</section>